---
import * as Icons from "../icons/index.ts"
import * as vam365pImages from "../assets/images/vueltaAlMundo365Platos/index.ts";
import * as dermacorpusImages from "../assets/images/dermacorpus/index.ts";
import * as fcabImages from "../assets/images/fcab/index.ts";

import Carousel from "./Carousel.astro";

const TAGS = {
  NEXTJS: { 
    label: "Next.js", 
    class: "bg-black text-white", 
    icon: Icons.NextIcon
  },
  REACT: { 
    label: "React", 
    class: "bg-[#149ECA] text-white",
    icon: Icons.ReactIcon 
  },
  REACTNATIVE: { 
    label: "React Native", 
    class: "bg-[#0D7A9F] text-white",
    icon: Icons.ReactIcon 
  },
  STRIPE: { 
    label: "Stripe", 
    class: "bg-[#8B84FF] text-white",
    icon: Icons.StripeIcon 
  },
  ASTRO: { 
    label: "Astro", 
    class: "bg-[#FF6B2C] text-white",
    icon: Icons.AstroIcon 
  },
  TYPESCRIPT: { 
    label: "TypeScript", 
    class: "bg-[#2560A8] text-white",
    icon: Icons.TypeScriptIcon 
  },
  EXPRESS: { 
    label: "Express.js", 
    class: "bg-black text-white",
    icon: Icons.ExpressIcon 
  },
  MYSQL: { 
    label: "MySQL", 
    class: "bg-[#00758F] text-white",
    icon: Icons.MySQLIcon 
  },
  GITHUB: { 
    label: "GitHub", 
    class: "bg-[#24292e] text-white", 
    icon: Icons.GitHubIcon 
  },
  CLOUDINARY: {
    label: "Cloudinary",
    class: "bg-[#DCE6FF] text-[#3448C5]",
    icon: Icons.CloudinaryIcon
  },
  DOCKER: {
    label: "Docker",
    class: "bg-[#0db7ed] text-[#FFFFFF]",
    icon: Icons.DockerIcon
  },
  FLUTTER: {
    label: "Flutter",
    class: "bg-[#F3F4F6] text-[#1E3A8A]",
    icon: Icons.FlutterIcon
  },
  SOCKETIO: {
    label: "Socket.io",
    class: "bg-black text-white",
    icon: Icons.SocketIoIcon
  },



};

const PROJECTS = [
    {
      title: "Vuelta al Mundo en 365 Platos",
      description: "E-commerce de platos internacionales desarrollado con React Native y Express.js. Implementa autenticación con Firebase, pasarela de pagos con Stripe y sistema de roles (admin/usuario). Los administradores gestionan el catálogo de productos mientras los usuarios pueden comprar, consultar su historial y actualizar su perfil. Base de datos MySQL para persistencia de datos.",
      link: "#",
      github: "#",
      images: [
        {img: vam365pImages.Login, id: 1},
        {img: vam365pImages.Categorias, id: 2},
        {img: vam365pImages.Productos, id: 3},
        {img: vam365pImages.Editar, id: 4},
        {img: vam365pImages.Comprar, id: 5},
        {img: vam365pImages.Pagar, id: 6},
      ],
      tags: [TAGS.REACTNATIVE, TAGS.EXPRESS, TAGS.STRIPE, TAGS.MYSQL, TAGS.TYPESCRIPT, TAGS.CLOUDINARY],
    },
    {
      title: "Dermacorpus LandingPage",
      description: "Landing Page informativa desarrollada para Dermacorpus, un centro especializado en rehabilitación dermatofuncional y estética. El proyecto incluyó el diseño UX/UI basado en mockups validados con el cliente, la creación de secciones sobre servicios, catálogo, testimonios, ubicación, equipo y contacto, además de enlaces directos al sistema de reservas. La plataforma mejora la visibilidad online del negocio, reduce su dependencia de redes sociales y centraliza la información clave para sus pacientes.",
      link: "#",
      github: "#",
      images: [
        {img: dermacorpusImages.AdminLogin, id:1},
        {img: dermacorpusImages.AdministracionCategorias, id:2},
        {img: dermacorpusImages.AdministracionEspecialistas, id:3},
        {img: dermacorpusImages.AdministracionReviews, id:4},
        {img: dermacorpusImages.AdministracionServicios, id:5},
        {img: dermacorpusImages.Mainpage, id:6},
        {img: dermacorpusImages.Mainpage2, id:7},
        {img: dermacorpusImages.Servicios, id:8},
      ],
      tags: [TAGS.NEXTJS, TAGS.MYSQL, TAGS.TYPESCRIPT, TAGS.CLOUDINARY, TAGS.DOCKER]
    },
    {
      title: "Migración Sistema GTD – FCAB",
      description:
        "Proyecto desarrollado durante la práctica profesional en FCAB, enfocado en migrar el sistema 'Gráfico Tiempo Distancia' desde una arquitectura basada en APIs REST hacia una comunicación en tiempo real mediante sockets. Se implementó un backend en Express.js siguiendo principios de Clean Architecture y un frontend en Flutter estructurado con el patrón BLoC, manteniendo la funcionalidad del sistema original y mejorando su rendimiento. El trabajo incluyó elicitar requisitos, rediseñar consultas críticas, adaptar 10 queries del sistema, desarrollar la nueva interfaz, documentar el manual de usuario y validar el sistema con usuarios finales. El proyecto se ejecutó utilizando metodología incremental con dos iteraciones (backend y frontend), integrando prácticas profesionales reales en entornos productivos.",
      link: "#",
      github: "#",
      images: [
        { img: fcabImages.Mainpage, id: 1 },
        { img: fcabImages.Detail, id: 2 },
        { img: fcabImages.Filters, id: 3 },
        { img: fcabImages.Filter1, id: 4 },
        { img: fcabImages.Filter2, id: 5 },
      ],
      tags: [
        TAGS.EXPRESS,
        TAGS.TYPESCRIPT,
        TAGS.FLUTTER,
        TAGS.SOCKETIO,
      ]
    },

]
---

{
    PROJECTS.map(({title, description, tags, images, link, github}, index) => (
        <article class="pb-30">
            <h3 class="text-2xl font-semibold text-yellow-300/85 mb-2">{title}</h3>
            <p class="text-base text-pretty mb-2 text-white/80">{description}</p>
            <ul class="flex flex-wrap gap-2 my-2">
                {
                    tags.map(tag => (
                        <li>
                            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                                <tag.icon class="size-4"/> {tag.label}
                            </span>
                        </li>
                    ))
                }
            </ul>
            <Carousel images={images} id={`carousel-project-${index}`} />
        </article>
    ))
}